@font-face {
    font-family: "UnivaNova-Heavy";
    src: url("../../src/styles/fonts/UnivaNova-Heavy.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "UnivaNova-Light";
    src: url("../../src/styles/fonts/UnivaNova-Light.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "UnivaNova-Hairline";
    src: url("../../src/styles/fonts/UnivaNova-Hairline.woff") format("woff");
    font-style: normal;
}





@font-face {
    font-family: "Raiders";
    src: url("../../src/styles/fonts/Raiders.ttf") format(".ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Light";
    src: url("../../src/styles/fonts/Nunito-Light.ttf") format(".ttf");
    font-weight: 400;
    font-style: normal;
}