$cactus-green: #5bde75;
$cactus-blue: #46e3da;
$cactus-purple: #6e7199;

body {
  margin: 0rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body {
  height: 100%;
}

.prototype {
  position: relative;
  margin-right: 0rem;
}

.body-text {
  display: none;
}

.body__text-container {
  display: none;
}



// Define the breakpoint where the iPhone image should appear
$iphone-breakpoint: 1200px;

.container {
  width: 325px;
  height: 48rem;
  margin: 0 auto;

  position: relative;
  z-index: 2;
}

.iphone {
  display: none;
  position: absolute;
  z-index: 1;
}

.iphone2 {
  display: none;
}

.hero {

  &__desktop-header {
    display: none;

    &--grey {
      display: none;
    }
  }

  &__text-container {
    display: none;
  }

  &__text {
    display: none;
  }

  &__points-icon {
    display: none;

    &--body {
      display: none;
    }
  }

  &__underline {
    display: none;
  }

  &__app-store-logo {
    display: none;
  }

  &__text-button {
    display: none;
  }

  &__button-text {
    display: none;
  }
}

.subheader1 {
  display: none;

  &__text1 {
    display: none;
    }
  
  &__text2 {
    display: none;
    }
  }

.subheader2 {
  display: none;

  &__text1 {
    display: none;
    }
  
  &__text2 {
    display: none;
    }
  }

.section1 {
  display: none;

  &__text-container {
    display: none;
    }

  &__image-container {
    display: none;
    }

  &__image {
    display: none;
    }
  
  &__header {
    display: none;
    }

  &__body {
    display: none;
    }
  }

.section2 {
  display: none;

  &__text-container {
    display: none;
    }

  &__image-container {
    display: none;
    }

  &__image {
    display: none;
    }
  
  &__header {
    display: none;
    }

  &__body {
    display: none;
    }
  }

.section3 {
  display: none;

  &__text-container {
    display: none;
    }
  
  &__header {
    display: none;
    }

  &__body {
    display: none;
    }

    &--green {
      display: none;
    }
  }

.section4 {
  display: none;

  &__text-container {
    display: none;
    }

  &__contact-container {
    display: none;
    }
  
  &__header {
    display: none;
    }

  &__subheader {
    display: none;
    }

  &__body {
    display: none;

    &--bold {
      display: none;
      }
    }
  }

  .section56 {
    display: none;
  }

  .section5 {
    display: none;
  }

  .section6 {
    display: none;
  }

  .gallery {
    display: none;

    &__container1 {
      display: none;
    }

    &__container2 {
      display: none;
    }

    &__image {
      display: none;
    }

    &__image1 {
      display: none;
    }

    &__image8 {
      display: none;
    }
  }

  .ui-gallery {
    display: none;

    &__screen-container {
      display: none;
    }

    &__text-container {
      display: none;
    }

    &__header {
      display: none;
      }
    
    &__image {
      display: none;
    }
  }


.contact {
  display: none;

  &__header {
    display: none;
    }

  &__body {
    display: none;
    }
  }

.try-container {
  display: none;

  &__text {
    display: none;
  }

  &__arrow {
    display: none;
  }
}

@media only screen and (min-width: #{$iphone-breakpoint + 1}) {

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.prototype {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1.5rem;
  margin-left: 8rem;
}

.iphone {
  display: flex;
  position: absolute; 
  width: 375px;
  height: 750px;
}

.container {
  display: flex;
  width: 325px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding-top: 2.5rem;
}

.hero {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__desktop-header {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 7rem;
    color: black;
    padding-bottom: 2rem;

    &--grey {
      display: flex;
      font-family: 'UnivaNova-Heavy';
      font-size: 7rem;
      color: #ccc;
      width: 100%;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 2rem 0 0 4rem;
    margin-right: 2rem;
  }

  &__text {
    display: flex;
    justify-content: flex-start;
    font-family: 'UnivaNova-Light';
    font-size: 2rem;
    line-height: 3rem;
    padding-right: 5rem;
    width: 37.5rem;
  }

  &__points-icon {
    display: flex;
    height: 1.15rem;
    width: 1.15rem;
    margin-left: 0.25rem;

    &--body {
        display: flex;
        height: 1.75rem;
        width: 1.75rem;
        margin: 0 0.1rem 0 0;
    }
  }

  &__underline {
    display: flex;
    width: 35%;
  }

  &__app-store-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0 0 0;
    height: 3.5rem;
    width: 12rem;
  }

  &__text-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $cactus-green;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    padding: 0 1.5rem;
    margin: 9rem 0 0 0;
    height: 4rem;
    width: 14rem;
  }

  &__button-text {
      display: flex;
      justify-content: center;
      font-family: 'UnivaNova-Heavy';
      color: white;
      font-size: 1.35rem;
      width: 100%;
  }
}

.subheader1 {
  display: block;
  margin: 6rem 0 0 0;

  &__text1 {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 8.5rem;
    color: black;
    }
  
  &__text2 {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 9.5rem;
    color: $cactus-green;
    }
  }

.subheader2 {
  display: block;
  margin: 4rem 0 0 0;

  &__text1 {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 8.5rem;
    line-height: 10rem;
    color: black;
    }
  
  &__text2 {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 8.5rem;
    line-height: 10rem;
    color: $cactus-green;
    }
  }

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 6rem 0 2rem 0;

  &__text-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 4rem 0 2rem;
    margin-bottom: 4rem;
    }

  &__image-container {
    display: flex;
    margin: 2rem 6rem 2rem 0;
    }

  &__image {
    display: flex;
    height: 30rem;
    width: 24rem;
    }
  
  &__header {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 2.5rem;
    color: black;
    padding-bottom: 2rem;
    }

  &__body {
    display: flex;
    justify-content: flex-start;
    font-family: 'UnivaNova-Light';
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding-right: 5rem;
    width: 37.5rem;
    }
  }

.section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0;

  &__text-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 4rem 0 0;
    margin-bottom: 4rem;
    }

  &__image-container {
    display: flex;
    margin: 2rem 6rem 2rem 0;
    }

  &__image {
    display: flex;
    height: 30rem;
    width: 24rem;
    }
  
  &__header {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 2.5rem;
    color: black;
    padding-bottom: 2rem;
    }

  &__body {
    display: flex;
    justify-content: flex-start;
    font-family: 'UnivaNova-Light';
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding-right: 5rem;
    width: 37.5rem;
    }
  }

.section3 {
  display: flex;
  flex-direction: column;
  margin: 6rem 0 6rem 15rem;

  &__text-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    }
  
  &__header {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 2.5rem;
    color: black;
    padding-bottom: 2rem;
    }

  &__body {
    display: flex;
    justify-content: flex-start;
    font-family: 'UnivaNova-Light';
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 68rem;
    }

    &--green {
      display: flex;
      justify-content: flex-start;
      font-family: 'UnivaNova-Light';
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: $cactus-green;
    }

  &__underline1 {
    display: flex;
    height: 1.25rem;
    width: 14rem;
    margin-left: 23.5rem;
  }

  &__underline2 {
    display: flex;
    height: 1.25rem;
    width: 14rem;
    margin-left: 20rem;
  }

  &__underline3 {
    display: flex;
    height: 1.25rem;
    width: 14rem;
    margin-left: 24rem;
  }
}

.section4 {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 4rem 5rem;
  margin-top: 4rem;
  background-color: black;

  &__text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    }

  &__contact-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1rem 4rem 0 0;
    margin: 0 12rem 0 0;
    }
  
  &__header {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1.25rem;
    }

  &__subheader {
    display: flex;
    font-family: 'UnivaNova-Heavy';
    font-size: 4.5rem;
    color: #ccc;
    margin-left: 2rem;
    }

  &__body {
    display: flex;
    justify-content: flex-start;
    font-family: 'UnivaNova-Light';
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    padding-right: 5rem;
    width: 37.5rem;

    &--bold {
      display: flex;
      justify-content: flex-start;
      font-family: 'UnivaNova-Light';
      font-size: 1.25rem;
      color: white;
      line-height: 1.75rem;
      font-weight: 700;
      padding-right: 5rem;
      width: 37.5rem;
      }
    }
  }

  .section56 {
    display: flex;
    flex-direction: column;
    margin: 8rem 0 10rem 0;
    gap: 8rem;
  }

  .section5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
  
    &__text-container {
      display: flex;
      flex-direction: column;
      // width: 40%;
      padding: 0 4rem 0 10rem;
      margin-bottom: 2rem;
      }
  
    &__image-container {
      display: flex;
      margin: 2rem 0 2rem 2rem;
      }
  
    &__image {
      display: flex;
      height: 18rem;
      width: 30rem;
      border-radius: 15px;
      }
    
    &__header {
      display: flex;
      font-family: 'UnivaNova-Heavy';
      font-size: 2.5rem;
      color: black;
      margin-bottom: 2rem;
      }
  
    &__body {
      display: flex;
      justify-content: flex-start;
      font-family: 'UnivaNova-Light';
      font-size: 1.25rem;
      line-height: 2.25rem;
      padding-right: 5rem;
      width: 32rem;
      }
    }
  
  .section6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  
    &__text-container {
      display: flex;
      flex-direction: column;
      // width: 40%;
      padding: 0 8rem 0 0;
      margin-bottom: 2rem;
      }
  
    &__image-container {
      display: flex;
      margin: 2rem 4rem 2rem 0;
      }
  
    &__image {
      display: flex;
      height: 18rem;
      width: 30rem;
      border-radius: 15px;
      }
    
    &__header {
      display: flex;
      font-family: 'UnivaNova-Heavy';
      font-size: 2.5rem;
      color: black;
      margin-bottom: 2rem;
      }
  
    &__body {
      display: flex;
      justify-content: flex-start;
      font-family: 'UnivaNova-Light';
      font-size: 1.25rem;
      line-height: 2.25rem;
      padding-right: 5rem;
      width: 32rem;
      }
    }

  .ui-gallery {
    display: flex;
    justify-content: center;
    gap: 4rem;

    &__screen-container {
      display: flex;
      flex-direction: column;
    }

    &__text-container {
      display: flex;
      justify-content: center;
    }

    &__header {
      display: flex;
      font-family: 'UnivaNova-Heavy';
      font-size: 1.75rem;
      color: black;
      margin-bottom: 2.5rem;
      }
    
    &__image {
      display: flex;
      height: 40rem;
      width: 20rem;
    }
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__container1 {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-right: 2rem;
    }

    &__container2 {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-left: 2rem;
    }

    &__image {
      display: flex;
      height: 16rem;
      width: 24rem;
      border-radius: 15px;
    }

    &__image1 {
      display: flex;
      height: 16rem;
      width: 24rem;
      border-radius: 0 15px 15px 0;
    }

    &__image8 {
      display: flex;
      height: 16rem;
      width: 24rem;
      border-radius: 15px 0 0 15px;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin: 8rem 0 0 0;

    &__header {
      display: flex;
      font-family: 'UnivaNova-Heavy';
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
      }

    &__body {
      display: flex;
      font-family: 'UnivaNova-Light';
      font-size: 1.5rem;
      }
    }

    .try-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 0 0 2rem;

      &__text {
        display: flex;
        font-family: 'UnivaNova-Heavy';
        text-align: center;
        font-size: 2rem;
        color: $cactus-green;
        padding: 0 0 1rem 4rem;
      }

      &__arrow {
        display: flex;
        height: 8rem;
        width: 8rem;
      }
    }
  }